extends ./index.pug

block content
    each error in errors
            p= error
    form(action="/authen/login", method="POST")
        .form-group
            label Email
            input(
                class="form-control",
                name="user",
                type="text"
            )
        .form-group
            label Password
            input(
                class="form-control",
                name="password",
                type="password"
            )
        button.btn.btn-primary Login
        
        